
.Banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: Black;
}

.Card_container {
  display: flex;
  color: black;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


